aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
async-timeout==4.0.3
attrs==23.2.0
azure-core==1.30.1
azure-eventhub==5.11.7
azure-identity==1.16.0
azure-servicebus==7.12.1
azure-storage-blob==12.19.1
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.7.0
blis==0.7.11
boltons==24.0.0
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cohere==4.57
colorama==0.4.6
colored==2.2.4
coloredlogs==15.0.1
colorlog==6.8.2
confection==0.1.4
contourpy==1.2.1
cryptography==42.0.5
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.5.9
dataclasses-json-speakeasy==0.5.11
Deprecated==1.2.14
distro==1.9.0
dnspython==2.6.1
effdet==0.4.1
eliot==1.15.0
eliot-tree==21.0.0
emoji==2.11.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup==1.2.0
fastapi==0.110.1
fastavro==1.9.4
filelock==3.13.4
filetype==1.2.0
Flask==3.0.3
Flask-Cors==4.0.0
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
googleapis-common-protos==1.63.0
greenlet==3.0.3
griffe==0.36.9
grpcio==1.62.1
guardrails-ai==0.4.3
guardrails-api-client==0.1.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
humanfriendly==10.0
idna==3.6
importlib-metadata==6.11.0
iopath==0.1.10
iso8601==2.1.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jwt==1.3.1
kiwisolver==1.4.5
kor==1.0.1
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.40
langchain-openai==0.1.1
langchain-pinecone==0.1.0
langchain-text-splitters==0.0.1
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.1.40
layoutparser==0.3.4
lxml==4.9.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-enum==1.5.1
matplotlib==3.8.4
mdurl==0.1.2
mpmath==1.3.0
msal==1.28.0
msal-extensions==1.1.0
multidict==6.0.5
murmurhash==1.0.10
mypy-extensions==1.0.0
networkx==3.3
nltk==3.8.1
numexpr==2.10.0
numpy==1.26.4
omegaconf==2.3.0
onnx==1.16.0
onnxruntime==1.15.1
openai==1.16.2
openapi-schema-pydantic==1.2.4
opencv-python==4.9.0.80
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-exporter-otlp-proto-http==1.20.0
opentelemetry-proto==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
orjson==3.10.0
packaging==23.2
pandas==1.5.3
pdf2image==1.17.0
pdfminer==20191125
pdfminer.six==20231228
pdfplumber==0.11.0
pikepdf==8.15.0
pillow==10.3.0
pillow_heif==0.16.0
pinecone-client==3.2.2
portalocker==2.8.2
preshed==3.0.9
protobuf==4.25.3
pycocotools==2.0.7
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
pydash==7.0.7
Pygments==2.17.2
PyJWT==2.8.0
pymongo==4.6.3
pyparsing==3.1.2
pypdf==4.2.0
pypdfium2==4.28.0
pyrsistent==0.20.0
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-iso639==2024.2.7
python-magic==0.4.27
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.8.1
regex==2023.12.25
requests==2.31.0
rich==13.7.1
rstr==3.2.2
safetensors==0.4.2
scipy==1.13.0
semantic-router==0.0.32
shellingham==1.5.4
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.29
srsly==2.4.8
starlette==0.37.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
thinc==8.2.3
tiktoken
timm==0.9.16
tokenizers==0.15.2
toolz==0.12.1
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
transformers==4.39.3
typer==0.9.4
typing-inspect==0.9.0
typing_extensions==4.11.0
unstructured==0.13.2
unstructured-client==0.18.0
unstructured-inference==0.7.25
unstructured.pytesseract==0.3.12
urllib3==2.2.1
uvicorn==0.29.0
wasabi==1.1.2
weasel==0.3.4
Werkzeug==3.0.2
wrapt==1.16.0
yarl==1.9.4
zipp==3.18.1
zope.interface==6.3
